<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="\styles\styles.css">
    <title>{{title}}</title>
</head>

<body>
{{>header}}

    
    <p>{{head}}.</p>
    {{>footer}}

</body>

</html>